@{
    ViewBag.Title = "Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model LiveHistory.Models.RouteModel

<script src="~/Scripts/ViewScripts/Common.js"></script>
<script src="~/Scripts/ViewScripts/GoogleMaps.js"></script>
<script src="~/Scripts/ViewScripts/Route.js"></script>



<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>




<div class="row margin-top-70">

    <div id="mapContainer" class="col-md-2 col-md-offset-2">
        <div id="map_canvas" style="height: 600px; width:1200px;">
        </div>
    </div>
</div>

